html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	text-decoration:none;
	font-family:Arial;
}
strong{font-weight: bold;}
p, a, h2, label, input[type=file]{color: white;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display:block;
}
body{
	line-height:1;
}
ol, ul{
	list-style:none;
}
blockquote, q{
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after{
	content:'';
	content:none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}

/*--------------------------------------  RESET  --------------------------------------*/

body{background:url('../img/woodBackground.jpg')}
h2{height:45px;border-radius:3px;text-align:center;background:#330000;line-height:45px;font-size:16px;margin-bottom:15px;box-shadow:3px 3px 15px black}

#DIVwrapper{width:1000px;margin:0 auto;padding:15px}

#DIVheader{margin-bottom:15px;overflow:hidden}
#DIVheader ul{height:50px;background: #931c12;border-radius:6px;margin-top:60px;
/* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkzMWMxMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZTEzMGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #931c12 0%, #5e130d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#931c12), color-stop(100%,#5e130d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #931c12 0%,#5e130d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #931c12 0%,#5e130d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #931c12 0%,#5e130d 100%); /* IE10+ */
background: linear-gradient(to bottom, #931c12 0%,#5e130d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#931c12', endColorstr='#5e130d',GradientType=0 ); /* IE6-8 */}
#DIVheader ul a{display:block;width:17%;float:left;text-align:center;color:white;line-height:50px}
#DIVheader ul a:hover{}
#DIVheader ul li:first-child a{margin:-55px -1% -30px 3%;width:28%}

#DIVbanner{width:100%;margin-bottom:15px;}
#DIVbanner #DIVslider div{border-radius:5px;}

#DIVcontent{margin-bottom:15px}
#DIVcontent:before, #DIVcontent:after{content:" ";display:table}
#DIVcontent:after{clear:both}
#DIVcontent>div{float:left}

#DIVfilter{width:231px;margin-right:15px}
#DIVproductList{width:100%}
#DIVproductList #DIVwineList{width:100%;background:white;border:5px solid #5e130d;border-left:0;border-right:0;}
#DIVproductList #DIVwineList .productElement{float:left;width:18%;margin:1%;position:relative;display:block}
#DIVproductList #DIVwineList .productElement *{color:#5e130d}
#DIVproductList #DIVwineList .productElement div{border:1px solid #d9d9d9; border-radius:3px;overflow:hidden}
#DIVproductList #DIVwineList .productElement div p{
transition-property: -webkit-transform, bottom;
transition-duration: 0.3s, 0.2s;
transition-delay: 0s, 0.15s;
transition-timing: linear, linear;
transform: rotate(-16deg);
-moz-transition-property: -webkit-transform, bottom;
-moz-transition-duration: 0.3s, 0.2s;
-moz-transition-delay: 0s, 0.15s;
-moz-transition-timing: linear, linear;
-moz-transform: rotate(-16deg);
-webkit-transition-property: -webkit-transform, bottom;
-webkit-transition-duration: 0.3s, 0.2s;
-webkit-transition-delay: 0s, 0.15s;
-webkit-transition-timing: linear, linear;
-webkit-transform: rotate(-16deg);
-o-transition-property: -webkit-transform, bottom;
-o-transition-duration: 0.3s, 0.2s;
-o-transition-delay: 0s, 0.15s;
-o-transition-timing: linear, linear;
-o-transform: rotate(-16deg);
color:white;background:#9e0b0f;text-align:center;padding:5px;position: relative;width: 105%;bottom: 20px;right: 10px;}
#DIVproductList #DIVwineList .productElement:hover div p{
transition-property: -webkit-transform, bottom;
transition-duration: 0.3s, 0.2s;
transition-delay: 0s, 0.15s;
transition-timing: linear, linear;
transform: rotate(0deg);
-moz-transition-property: -webkit-transform, bottom;
-moz-transition-duration: 0.3s, 0.2s;
-moz-transition-delay: 0s, 0.15s;
-moz-transition-timing: linear, linear;
-moz-transform: rotate(0deg);
-webkit-transition-property: -webkit-transform, bottom;
-webkit-transition-duration: 0.3s, 0.2s;
-webkit-transition-delay: 0s, 0.15s;
-webkit-transition-timing: linear, linear;
-webkit-transform: rotate(0deg);
-o-transition-property: -webkit-transform, bottom;
-o-transition-duration: 0.3s, 0.2s;
-o-transition-delay: 0s, 0.15s;
-o-transition-timing: linear, linear;
-o-transform: rotate(0deg); bottom:0}
#DIVproductList #DIVwineList .productElement div img{display:block;height:240px;margin: 15px auto -15px;}
#DIVproductList #DIVwineList .productElement > p{margin:15px 0;text-align: center; text-transform:capitalize;}

.flexImg{width:100%;display:block;margin:0 auto}
.clear{clear:both}
.cf:before, .cf:after{content:" ";display:table}
.cf:after{clear:both}
.facebookShare{position:absolute;right:2%;top:35px;}

.filterElement{border:1px solid #996666;background:#931b11;border-bottom:none;margin-bottom:15px}
.filterElement span{display:block;padding:15px;background:#660000;border-bottom:1px solid #996666}
.filterElement ul li{padding:15px;border-bottom:1px solid #996666}
.userWelcome{text-align:right;margin-bottom:-10px}

#DIVfooter{display:block;background:#300;overflow:hidden;padding:15px 15px;font-size:12px;box-shadow:3px 3px 15px black;border-radius:3px}
#DIVfooter div:first-child{float:left}
#DIVfooter div:last-child{float:right}

/*         Maintenance Pages         */
.maintenancePages #DIVheader ul a img{width:100%}


/*        Product Maintenance        */
.pageMaintenance #DIVcontent > div{margin-bottom:15px}
.pageMaintenance #DIVproductList{width:835px;margin-right:15px}
.pageMaintenance #DIVproductPreview{width:150px}
.pageMaintenance table{width:100%;color:#767B7F;border-radius:3px;overflow:hidden}
.pageMaintenance table thead th{background:#691A14;height:45px;line-height:45px;color:white}
.pageMaintenance table tbody{background:white}
.pageMaintenance table tbody td{color:#818180;border-bottom:dashed 1px;height:45px;line-height:45px;text-align:center;font-size: 12px;}
.pageMaintenance table tbody td p{color:#818180}
.pageMaintenance #DIVproductPreview ul li a{display:block;margin:20px 10px;padding:3px 30px}
.pageMaintenance #DIVproductPreview > div div{float:right;width:64%}
.pageMaintenance #DIVproductPreview > div div p{text-align:right;font-size:16px;margin:15px;border-bottom:1px dashed}
.pageMaintenance #DIVproductPreview > div div p span:first-child{margin-right:10px}
.pageMaintenance #DIVproductPreview > div img{float:right}
.pageMaintenance #DIVproductPreview > div{background:#1b0201;overflow:hidden;border-radius:3px}


#ADDbtn{background:url('../img/icons_sprite.png') no-repeat 0 0px}
#EDITbtn{background:url('../img/icons_sprite.png') no-repeat 0 -22px}
#DISABLEbtn{background:url('../img/icons_sprite.png') no-repeat 0 -43px}
#DELETEbtn{background:url('../img/icons_sprite.png') no-repeat 0 -64px}

/*          Common Form Styles           */
form .inputAndLabel:before, form .inputAndLabel:after{content:" ";display:table}
form .inputAndLabel:after{clear:both}
form .inputAndLabel select{float:right;height:35px;width:237px;font-size:14px;border-radius:0;-webkit-appearance:none;padding-left:10px;background:url('../img/comboDownIcon.png') no-repeat 97% 50% white;background-size:22px}
form .inputAndLabel > span{float:right}
form .inputAndLabel input{float:right;height:30px;width:230px;font-size:14px}
form .inputAndLabel textarea{float:right;width:695px;height:250px}
form .inputAndLabel label{float:left;margin-top:10px}
form .inputBTN input, .backBtn{float:right;border:none;color:white;font-size:13px;text-align:center;height:30px;width:114px;border-radius:3px;line-height:30px;
-webkit-appearance:none;padding:0px;background:#711d00;/* Old browsers */
background:-moz-linear-gradient(top, #711d00 45%, #4c1900 55%);/* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(45%,#711d00), color-stop(55%,#4c1900));/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top, #711d00 45%,#4c1900 55%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top, #711d00 45%,#4c1900 55%);/* Opera 11.10+ */
background:-ms-linear-gradient(top, #711d00 45%,#4c1900 55%);/* IE10+ */
background:linear-gradient(to bottom, #711d00 45%,#4c1900 55%);/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#711d00', endColorstr='#4c1900',GradientType=0 );/* IE6-9 */}
.pageAddProduct #DIVaddProduct form .inputBTN input:active{background-image:linear-gradient(bottom, rgb(35,10,0) 45%, rgb(57,12,0) 55%);
background-image:-o-linear-gradient(bottom, rgb(35,10,0) 45%, rgb(57,12,0) 55%);
background-image:-moz-linear-gradient(bottom, rgb(35,10,0) 45%, rgb(57,12,0) 55%);
background-image:-webkit-linear-gradient(bottom, rgb(35,10,0) 45%, rgb(57,12,0) 55%);
background-image:-ms-linear-gradient(bottom, rgb(35,10,0) 45%, rgb(57,12,0) 55%);
background-image:-webkit-gradient(linear,left bottom,	left top,	color-stop(0.45, rgb(35,10,0)),	color-stop(0.55, rgb(57,12,0)))}
.backBtn{margin-top:15px}

/*        Add Product Maintenance        */
.pageAddProduct #DIVcontent{margin-bottom:15px}
.pageAddProduct #DIVcontent > div{float:none}
.pageAddProduct form{background:#1b0201;border-radius:3px;box-shadow:3px 3px 15px black;padding:15px}
.pageAddProduct #DIVaddProduct{width: 100%}
.pageAddProduct #DIVaddProduct form .inputAndLabel{overflow:hidden;margin-bottom:15px;min-height:40px}
.pageAddProduct #DIVaddProduct form.shortForm .inputAndLabel input{float:right;height:30px;width:230px;font-size:14px;}
.pageAddProduct #DIVaddProduct form.shortForm .inputAndLabel label{float:left;width:24.6%;margin-top:10px}
.pageAddProduct #DIVaddProduct form #DIVcurrentIMG{float:right;width:46%;height:330px;padding:0 2%}
.pageAddProduct #DIVaddProduct form #DIVcurrentIMG div{width:225px;height:95.5%;border:dashed white 2px;margin:0 auto 11px;position:relative}
.pageAddProduct #DIVaddProduct form #DIVcurrentIMG div p{position:relative;top:50%;display:block;margin:0 auto;width:65%}
form#FORMagregarCategoria .inputAndLabel select{float:right}

/*        Login        */
.login #DIVcontent{background:#1b0301;margin-bottom:10px;box-shadow:3px 3px 15px black;border-radius:3px;padding:15px}
.login #DIVcontent img{display:block;width:60%;margin:0 auto}
.login #DIVcinta{width:629px;background:url('../img/cinta.png') no-repeat;height:215px;margin-left:-78px;padding:150px 40px 0 100px;margin-bottom:100px}
.login #DIVcinta h1{color:white;float:left;font-size:20px;width:135px;text-align:center;margin-top:20px;line-height:30px}
.login #DIVcinta form{float:right;text-align:right}
.login #DIVcontent form .inputBTN{text-align:center}
.login #DIVcontent form .inputAndLabel{width:340px;margin-bottom:10px}
.login #DIVcontent form .inputAndLabel input{width:170px}
.login #DIVcontent form h3{color:white;text-align:center;margin-bottom:10px}
tbody .selected{background:rgb(255, 187, 169)}

/*          Product View          */
#DIVcontent #DIVproductView{width:100%;background:white;border:5px solid #5e130d;border-left:0;border-right:0;max-height:500px;overflow:hidden}
#DIVcontent #DIVproductView > div{float:left}
#DIVcontent #DIVproductView h3{font-size:24px;color:black;text-align:center;margin:30px auto 5px;border-bottom:3px solid #5e130d;width:96%;padding-bottom:5px}
#DIVcontent #DIVproductView #DIVproductImg{width:24.7%;padding:25px 0;overflow:hidden}
#DIVcontent #DIVproductView #DIVproductImg img {height: 480px;width: initial;transform:rotate(-15deg);-webkit-transform:rotate(-15deg);-o-transform:rotate(-15deg);-moz-transform:rotate(-15deg);}
#DIVcontent #DIVproductView #DIVproductInfo{width:75%;background:#ede9de;border-left:3px solid #5e130d;position:relative}
#DIVcontent #DIVproductView #DIVproductInfo p{color:black;font-family:Helvetica;font-size:14px;line-height:20px}
#DIVcontent #DIVproductView #DIVproductInfo h4{color:black;font-family:Helvetica;font-size:15px;font-weight:bold;margin-bottom:5px}
#DIVcontent #DIVproductView #DIVproductInfo > div{float:left;overflow:auto;padding:1.5%;max-height:410px;padding-left:3%}
#DIVcontent #DIVproductView #DIVproductInfo > div > div{margin-bottom:15px}
#DIVcontent #DIVproductView #DIVproductInfo #DIVwineInfo{width:24%}
#DIVcontent #DIVproductView #DIVproductInfo #DIVwineDesc{width:63%;border-left:3px solid #5e130d;padding-left:4%;text-align:justify;min-height:410px;}



#holder{border:2px dashed #ccc;width:300px;min-height:260px;margin:20px auto}
#holder.hover{border:4px dashed #0c0!important}
#holder img{display:block;margin:10px auto;width:initial;height:240px}
#holder p{margin:10px;font-size:14px}
progress{width:100%}
progress:after{content:'%'}
.fail{background:#c00;padding:2px;color:#fff}
.hidden{display:none !important}


/*            Slider            */
#DIVslider {position: relative;height: 275px;}
#DIVslider > div {position: absolute;width: 100%}
