section#producto{
	article{
		padding: 0;
		margin: 30px 10%;
		position: relative;
		h1{
			margin: 25px auto 30px;
			width: 65%;
		}
		.product-data{
			margin: 0 13% 40px;
			.product-img{
				width: 45%;
				float: left;
				img{
					@include rotateZ(20deg);
					max-width: 170px;
					margin: -20px auto 0;
				}
			}
			.product-attributes{
				width: 55%;
				float: left;
				p{
					margin: 0;
				}
				h4{
					margin: 0 0 25px
				}
			}
			.product-descriptions{
				width: 100%;
				clear: both;
			}
		}
	}
}