<section id="inicio" ng-controller="MainCtrl">
	<div id="slider-fluid-banner" class="carousel slide" data-interval="7000">
		<div class="carousel-inner">
			<div class="item active">
				<img class="flexImg" src="../images/index_banner/slide1-inicio-se-trata-de-vinos.jpg" alt="Slide 1" title="Productos de Se Trata de Vinos" />
			</div>
			<div class="item">
				<img class="flexImg" src="../images/index_banner/slide2-inicio-se-trata-de-vinos.jpg" alt="Slide 2" title="Expo Vino Costa Rica" />
			</div>
			<div class="item">
				<img class="flexImg" src="../images/index_banner/slide3-inicio-se-trata-de-vinos.jpg" alt="Slide 3" title="Eventos Anteriores" />
			</div>
			<div class="item">
				<img class="flexImg" src="../images/index_banner/slide4-inicio-se-trata-de-vinos.jpg" alt="Slide 4" title="Coraz&oacute;n Loco, de Andres Iniesta" />
			</div>
		</div>
		<a href="#slider-fluid-banner" class="left carousel-control" data-slide="prev">?</a>
		<a href="#slider-fluid-banner" class="right carousel-control" data-slide="next">?</a>
	</div>
	<article class="clearfix">
		<h1>&iquest;D&oacute;nde estamos?</h1>
		<p>Puedes encontrarnos en nuestra oficina ubicada en la ciudad de Siquirres. Al lado derecho de la f&aacute;brica de hielo. </p>
	</article>
</section>
