<section id="inicio" ng-controller="MainCtrl">
	<div id="slider-fluid-banner" class="carousel slide" data-interval="7000">
		<div class="carousel-inner">
			<div class="item active">
				<img class="flexImg" src="../images/index_banner/slide1-inicio-se-trata-de-vinos.jpg" alt="Slide 1" title="Productos de Se Trata de Vinos" />
			</div>
			<div class="item">
				<img class="flexImg" src="../images/index_banner/slide2-inicio-se-trata-de-vinos.jpg" alt="Slide 2" title="Expo Vino Costa Rica" />
			</div>
			<div class="item">
				<img class="flexImg" src="../images/index_banner/slide3-inicio-se-trata-de-vinos.jpg" alt="Slide 3" title="Eventos Anteriores" />
			</div>
			<div class="item">
				<img class="flexImg" src="../images/index_banner/slide4-inicio-se-trata-de-vinos.jpg" alt="Slide 4" title="Coraz&oacute;n Loco, de Andres Iniesta" />
			</div>
		</div>
		<a href="#slider-fluid-banner" class="left carousel-control" data-slide="prev">‹</a>
		<a href="#slider-fluid-banner" class="right carousel-control" data-slide="next">›</a>
	</div>
	<article class="clearfix">
		<h1>Expo Vino 2013</h1>
		<img src="../images/index-content/expo-vino-flyer-se-trata-de-vinos.jpg" alt="expo-vino-flyer-se-trata-de-vinos" title="Se Trata de Vinos le invita a Expo Vino 2013" width="451" height="696" />
		<p>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
		<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. original form, accompanied by English versions from the 1914 translation by H. Rackham. Lorem Ipsum comes from sections 1.10.32 and 1.10.33  dolor sit amet..", comes from a line in section 1.10.32.</p>
		<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by  from the 1914 translation by H. Rackham.</p>
		<ul>
			<li ng-repeat="wine in wines">
				{{wine.nombre}}
			</li>
		</ul>
	</article>
</section>
