<section id="inicio" ng-controller="MainCtrl">
	<div id="slider-fluid-banner" class="banner carousel slide" data-interval="7000">
		<div class="carousel-inner">
			<div class="item active">
				<img class="flexImg" src="../images/index_banner/slide1-inicio-se-trata-de-vinos.jpg" alt="Slide 1" title="Productos de Se Trata de Vinos" />
			</div>
			<div class="item">
				<img class="flexImg" src="../images/index_banner/slide2-inicio-se-trata-de-vinos.jpg" alt="Slide 2" title="Expo Vino Costa Rica" />
			</div>
			<div class="item">
				<img class="flexImg" src="../images/index_banner/slide3-inicio-se-trata-de-vinos.jpg" alt="Slide 3" title="Eventos Anteriores" />
			</div>
			<div class="item">
				<img class="flexImg" src="../images/index_banner/slide4-inicio-se-trata-de-vinos.jpg" alt="Slide 4" title="Coraz&oacute;n Loco, de Andres Iniesta" />
			</div>
		</div>
		<a href="#slider-fluid-banner" class="left carousel-control" data-slide="prev">‹</a>
		<a href="#slider-fluid-banner" class="right carousel-control" data-slide="next">›</a>
	</div>
	<article class="clearfix">
		<h1>&iquest;Qui&eacute;nes Somos?</h1>
		<p><strong>"Se Trata de Vinos..."</strong> es una peque&ntilde;a distribuidora de vinos exclusivos. Dicha exclusividad no tiene que ver con precios caros si no con que nuestros vinos s&oacute;lo los distribuimos nosotros en Costa Rica.</p>
		<p>Proceden de bodegas familiares de diferentes denominaciones de origen que miman su producto logrando caldos de alta calidad accesibles economicamente a diferentes extractos de nuestra sociedad.</p>
		<p>En <strong>"Se Trata de Vinos.."</strong> nos encargamos personalmente de elegir los vinos y las bodegas con las que trabajamos. Nuestro objetivo es acercar y despertar el inter&eacute;s por el vino a los particulares adem&aacute;s de la introducci&oacute;n en la gastronom&iacute;a nacional a trav&eacute;s de la hosteler&iacute;a y la restauraci&oacute;n.</p>
		<p>No tenemos tienda f&iacute;sica pero puedes encontrarnos en nuestra oficina ubicada en la ciudad de Siquirres o hacer tus encargos aqu&iacute; <strong>"on-line"</strong> en la p&aacute;gina web y a trav&eacute;s de nuestros agentes de venta. Tambi&eacute;n organizamos catas y eventos relacionados con el mundo del vino para seguir compartiendo nuestra afici&oacute;n por el vino.</p>
		<p>Queremos convertirnos en una "descubridora de vino" para nuestros clientes. Y, por supuesto, continuar siendo <strong>vuestros Amigos...</strong></p>
	</article>
</section>
