<section id="resena" ng-controller="MainCtrl">
	<div id="slider-fluid-banner" class="carousel slide" data-interval="7000">
		<div class="carousel-inner">
			<div class="item active">
				<img class="flexImg" src="../images/index_banner/slide1-inicio-se-trata-de-vinos.jpg" alt="Slide 1" title="Productos de Se Trata de Vinos" />
			</div>
			<div class="item">
				<img class="flexImg" src="../images/index_banner/slide2-inicio-se-trata-de-vinos.jpg" alt="Slide 2" title="Expo Vino Costa Rica" />
			</div>
			<div class="item">
				<img class="flexImg" src="../images/index_banner/slide3-inicio-se-trata-de-vinos.jpg" alt="Slide 3" title="Eventos Anteriores" />
			</div>
			<div class="item">
				<img class="flexImg" src="../images/index_banner/slide4-inicio-se-trata-de-vinos.jpg" alt="Slide 4" title="Coraz&oacute;n Loco, de Andres Iniesta" />
			</div>
		</div>
		<a href="#slider-fluid-banner" class="left carousel-control" data-slide="prev">?</a>
		<a href="#slider-fluid-banner" class="right carousel-control" data-slide="next">?</a>
	</div>
	<article class="clearfix">
		<h1>Rese&ntilde;a</h1>
		
		<p><i><strong>"Se Trata de Vinos..."</strong> es una empresa moderna que tiene como objetivo poner a tu alcance acorde con los <strong>"Nuevos tiempos..."</strong><strong> "Nuevos Vinos..."</strong> y ayudarte a descubrir el vino que se adapte a ti. Vinos exclusivos, &uacute;nicos y a buen precio.</i></p>
		<p>Bas&aacute;ndonos en nuestras vivencias de los &uacute;ltimos a&ntilde;os que nos permiti&oacute; conocer y degustar el maravilloso y apasionante mundo del vino, es que nos atrevemos a proponer y compartir con Ustedes vinos de alta calidad elaborados en diferentes zonas de Espa&ntilde;a, resaltando con singularidad la regi&oacute;n de La Mancha.</p>
		<p>Haciendo nuestra la visi&oacute;n de una de nuestras representadas <strong>"del vino como un producto universal que materializa la expresi&oacute;n cultural de una determinada tierra, y como complemento espiritual de la comida dentro del arte de la gastronom&iacute;a" es que los invitamos a conocer nuestros vinos."<strong></p>
	</article>
</section>
